<div class="container-fluid">
    <app-page-title title="Country List" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-light justify-content-between">
                    <div class="d-flex align-items-center gap-2">
                        <div class="app-search">
                            <input [(ngModel)]="tableService.searchTerm" data-table-search type="search"
                                class="form-control" placeholder="Search Country Name">
                            <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted" />
                        </div>
                        <div>
                            <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="20">20</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex gap-1">
                        <a [routerLink]="['/misc/country/countryadd']" class="btn btn-success ms-1">
                            <ng-icon name="tablerPlus" class="fs-sm me-1" />
                            New Country
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                            <tr class="text-uppercase fs-xxs">
                                <th style="width: 60px;">SL.No</th>
                                <th >Country Name</th>
                                <th >Is Supported</th>
                                <th >Branch</th>
                                <th >Department</th>
                                <th >Status</th>
                                <th class="text-center" style="width: 1%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if ((total$ | async)! > 0) {
                            @for (country of this.countries$ | async; track $index; let i = $index) {
                            <tr>
                                <td>{{ (tableService.page - 1) * tableService.pageSize + i + 1 }}</td>
                                <td >{{ country.Name }}</td>
                                <td >
                                    {{ country.IsSupported === 'Y' ? 'Supported' : 'Not Supported' }}
                                </td>
                                <td >{{ country.BranchName }}</td>
                                <td >{{ country.DepartmentName }}</td>
                                <td >{{ country.Status || 'Active' }}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center gap-1">
                                        <a [routerLink]="['/misc/country/countryedit', country.id]"
                                            class="btn btn-primary btn-icon btn-sm rounded-circle" 
                                            style="background-color: #1ab394; border-color: #1ab394;"
                                            ngbTooltip="Edit">
                                            <ng-icon name="tablerPencil" class="fs-lg" />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }
                            } @else {
                            <tr class="no-results">
                                <td colspan="7" class="text-center text-muted py-3">Nothing found.</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0">
                    @if ((total$ | async)! > 0) {
                    <div class="d-flex justify-content-between align-items-center pagination-boxed">
                        <div class="text-muted">
                            {{ tableService.showingRange }} countries
                        </div>
                        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="tableService.page"
                            [pageSize]="tableService.pageSize">
                            <ng-template ngbPaginationPrevious>
                                <ng-icon name="tablerChevronLeft" />
                            </ng-template>
                            <ng-template ngbPaginationNext>
                                <ng-icon name="tablerChevronRight" />
                            </ng-template>
                        </ngb-pagination>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
