<div class="sidenav-menu">

  <a routerLink="/" class="logo" style="text-decoration: none; display: block; text-align: center;">
    <span class="logo logo-light">
      <span class="logo-lg" style="font-weight: 800; font-size: 22px; color: #ffffff; letter-spacing: 1px; line-height: 70px;">PI-HMS-ADV</span>
      <span class="logo-sm" style="font-weight: 800; font-size: 22px; color: #ffffff; line-height: 70px;">PH</span>
    </span>

    <span class="logo logo-dark">
      <span class="logo-lg" style="font-weight: 800; font-size: 22px; color: #1ab394; letter-spacing: 1px; line-height: 70px;">PI-HMS-ADV</span>
      <span class="logo-sm" style="font-weight: 800; font-size: 22px; color: #1ab394; line-height: 70px;">PH</span>
    </span>
  </a>

  <!-- Sidebar Hover Menu Toggle Button -->
  <button (click)="hoverSidebar()" class="button-on-hover">
    <ng-icon name="tablerMenu4" size="22" class="align-middle"/>
  </button>

  <!-- Offcanvas Sidebar Menu Close Button -->
  <button (click)="closeSidebar()" class="button-close-offcanvas">
    <ng-icon name="tablerX" class="align-middle"/>
  </button>

  <ngx-simplebar id="sidenav" class="scrollbar">
    <!-- User -->
    @if (layout.sidenavUser) {
      <app-user-profile/>
    }

    <!--- Sidenav Menu -->
    <app-menu/>
  </ngx-simplebar>
</div>
